  <body>
    <form method="POST" action="/">
      <input type="text" placeholder="User Name" name="userName" required />
      <input
        type="password"
        placeholder="Password"
        name="password"
        required
        minlength="5"
      />
      <input type="submit" />
    </form>
    <a href="/join">회원가입</a>
  </body>
</html>
