<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
<!--CSS STYLE 적용-->
    <link rel="stylesheet" href="/css/join.css">
<!-- 가장 바깥 컨테이너-->
<div id = "container">
    <!-- 로고 -->
    <div class = "logo">
    <img class="logo" src="/img/SBGlogo1.png" alt="">
    </div>
<!-- join, goBack, google 인증 div-->
<div>
    <!-- join 영역 시작 -->
    <div id="join">
    <!-- ID,PASSWORD 입력칸 -->
        <form action="/join" method = "POST" class = "register">
            <div class ="inputBox">
                <label for="name" class = "login_text"><b>이름 :</b></label>
                <input type="text" placeholder="이름" name="name" id="name" class ="login_input">
            </div>
            <div class = "inputBox">
                <label for="userName" class = "login_text"><b>아이디 :</b></label>
                <input type="text" placeholder="아이디" name="userName" id="userName" class ="login_input">
            </div>
            <div class = "inputBox">
                <label for="password" class = "login_text"><b>비밀번호 :</b></label>
                <input type="password" placeholder="비밀번호" name="password" id="password" class ="login_input">
            </div>
            <div class = "inputBox">
                <label for="password2" class = "login_text"><b>비밀번호 확인 :</b></label>
                <input type="password" placeholder="비밀번호 확인" name="password2" id="password2" class ="login_input">
            </div>
            <input type="submit" value="Join" class="login_btn">
        </form>
    </div>
    <!-- 뒤로가기 -->
    <div id = "goBack">
        <a href="/"class="login_btn"> GOBACK </a> 
        </div>   
        </div>
    </body>
<!-- Join.html 파일 끝 -->