<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
  </head>
  <body>
    <form method="POST" action="/join">
      <input type="text" placeholder="User Name" name="userName" required />
      <input
        type="password"
        placeholder="Password"
        name="password"
        required
        minlength="5"
      />
      <input
        type="password"
        placeholder="Password confirm"
        name="password1"
        required
        minlength="5"
      />
      <input type="submit" />
    </form>
  </body>
</html>
