<%- include('./include/header') %>
  <body>
    <main>
      <ul>
        <% posts.forEach((post) => { %>
        <a href="main/<%=post._id%>""><li><%=post.postTitle %></li></a>
        <% }) %>
      </ul>
    </main>
  </body>
<%- include('./include/footer') %>