/*login css 시작 */
/* login 코드 전 구역  */

/* 배경지정 */
body{
  background-color:#ffff;
}

/* gird 컨테이너 */
#container{
  border: none;
  padding: 1rem;
  position: absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  display: grid;
  justify-content:center;
  align-items:center;
  background-color: #f7f1e3;
}

/*logo div*/
.inputBox{
  display: grid;
  justify-content: left;
  grid-template-columns: auto auto;
}
.logo{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

/* 아이디: ,비밀번호 :*/
.login_text{
  width: 4rem;
  padding: 0.325rem 0.325rem;
  margin-left: auto;
  position: relative;
}
/* ID,비밀번호 스타일 */
.login_input{
  width: 10rem;
  padding: 0.325rem 0.325rem;
  margin-left: auto;
  border-radius: 0.31px;
  border: 0.125rem solid #e5e1Da;
  position :relative;
}

/* 카카오,네이버, 구글 아이콘 이미지  */
img{
  width:100%;
  height:40px;
}

/* 로그인, 회원가입 버튼 */
.login_btn{
width: 100%;
height: auto;
display: flex;
justify-content: center;
background-color:rgb(101, 98, 96);
border-radius: 0.43rem;
font-size: .9375rem;
color: white;
font-weight: bold;
margin: .125rem auto; 
}

.login_other{
width: auto;
}
.certify_box{
  display: flex;
  justify-content: center;
}

@media (min-width: 432px){
  /* 공통부분 */
.login_input{   
  width: 50vw;
  }
  .login_butt{
      width: 100vw;
  }
}