<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <header>
        <div class="header_container">
            <div id="search_wrap">
                <div>
                    <div class="search_logo">
                        <a href="/main">
                            <img src="/img/smart_busan_logo.png" alt="Smart Busan logo">
                        </a>
                    </div>
                </div>
                <div id="search_button">
                    <button id="logout">Log out</button>
                </div>
                <div id="search_button">
                    <button id="my_page">My Page</button>
                </div>
            </div>
            <div class="main_search" id="search_wrap2">
                <input class="main_searchinput" type="text" name="" placeholder="Search">
            </div>
        </div>
    <div class="nav">
        <ul class="menubar">
            <div id="menu_write_button"><li><button id="write_button">글쓰기</button></li></div>
            <li><a class="menu_list" href="#">자유게시판</a></li>
            <li><a class="menu_list" href="#">공지사항</a></li>
            <li><a class="menu_list" href="#">자료실</a></li>
            <li><a class="menu_list" href="#">1:1문의</a></li>
        </ul>
    </div>
    </header>    
</body>
<script src="/js/header.js"></script>